
.Espera{
    text-align: center;
    background-color: #BC0000 !important;
    color: white !important;
}

.Aprobado{
    text-align: center;
    background-color: #F7D900 !important;
    color: rgb(0, 0, 0) !important;
}


.Imprimiendo{
    text-align: center;
    background-color: #33D9FF !important;
    color: white !important;
}

.Cancelado{
    text-align: center;
    background-color: #000000 !important;
    color: white !important;
}
.Detenido{
    text-align: center;
    background-color: #550303 !important;
    color: white !important;
}
.Listo{
    text-align: center;
    background-color: #569900 !important;
    color: white !important;
}
.Entregado{
    text-align: center;
    background-color: #a3a3a3 !important;
    color: rgb(0, 0, 0) !important;
}
